body            { font-family: sans-serif; background: #eee; }
a, h1, h2       { color: #377ba8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }
.mtext
{
    color: #377ba8;
    font-family: 'Georgia', serif;
    margin: 0;
    font-size: 1.2em;
}
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #cee5F5; padding: 0.5em;
                  border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }
.page
{
    margin: 10px auto;
    width: 900px;
    border: 2px solid #ccc;
    padding: 0.8em;
    background: white;
    margin-left: 200px;
}
.menu
{
   margin: 0px 15px 15px 10px;
   height: 470px;
   width: 150px;
   border: 1px solid #ccc;
   padding: 0.8em;
   background: white;
   position: absolute;
}

.menu li
{
    margin-top: 30px;
    padding: 5px 5px 5px 5px;
    list-style-type: none; /* Убираем маркеры */
}
.menu ul
{

}


.ghost-button {
  border-radius: 0;
  border: 0;
  background: transparent;
  float: right;
  margin-right: 10px;
}

.post > header {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}

.post > header > div:first-of-type {
  flex: auto;
}

.post > header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.post .about {
  color: slategray;
  font-style: italic;
}

.post .body {
  white-space: pre-line;
}