body            { font-family: sans-serif; background: #eee; }
a, h1, h2       { color: #377ba8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }
h3              { float: right;}
.mtext
{
    color: #377ba8;
    font-family: 'Georgia', serif;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 1.2em;
}
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }

.flash          { background: #cee5F5; padding: 0.5em;
                  border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }
.page
{
    margin: 10px auto;
    width: 69%;
    border: 2px solid #ccc;
    padding: 0.8em;
    background: white;
    margin-left: 200px;
}
.page a
{
    float: right;
}
.menu
{
   float: left;
   width: 12%;
   height: 470px;
   border: 1px solid #ccc;
   padding: 0.8em;
   background: white;
}

.menu li
{
    margin-top: 30px;
    padding: 5px 5px 5px 5px;
    list-style-type: none;
}
.menu ul
{

}
.interface
{
   float: right;
   width: 13%;
   background: #eee;
}
.adminandmod
{
   height: 250px;
   border: 1px solid #ccc;
   padding: 0.2em;
   background: white;
   margin-bottom: 10px;
}
.adminandmod ol
{
    padding-left: 10px;
}
.adminandmod li
{
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 0px;
    padding: 5px 5px 5px 0px;
    list-style-type: none;
}
.harmless-form
{
     margin: 0;
     display: inline;
}
.like-button {
  border-radius: 0;
  border: 0;
  background: transparent;
  margin-right: 10px;
  padding: 0px;
}
button.like-button:hover    {
   background: #377BA8;
}
.neutral{
     text-align: right;
     display: inline;
}
.ghost-button {
  border-radius: 0;
  border: 0;
  background: transparent;
  float: right;
  margin-right: 10px;
  padding: 0px;
}
button.ghost-button:hover    {
   background: #377BA8;
}

.post > header {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}

.post > header > div:first-of-type {
  flex: auto;
}

.post > header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.post .about {
  color: slategray;
  font-style: italic;
}

.post .body {
  white-space: pre-line;
}

.content {

   float: center;
   padding: 0.3em;
   margin-bottom: 1em;
   margin-left: 15%;
   background: white;
   width: 70%;
}
.container {
   font-size: 1em;
}
