{% extends "layout.html" %}
{% block body %}
Create new unique post!
Your template for post:
<article class="post">
    <header>
        <div>
            <h1>{{ post.title }}</h1>
            <div class="about">by {{ post.author}} on {{ post.creation_date.strftime('%Y-%m-%d') }}</div>
        </div>
    </header>
    <div id="post{{ post.id}}" class="body">
        {{ post.html_page| safe}}
    </div>
    <hr>
</article>

<form action="{{ url_for('create_post.addtext') }}" method="post">
    <p>Add text</p>
    <textarea name=text rows=5 cols=40></textarea>
    <button type="submit">Load text</button>
</form>

<form action="{{ url_for('create_post.addimage') }}" method="post" enctype="multipart/form-data">
    <p>Load picture</p>
    <p><input type="file" name="pic" enctype="multipart/form-data"></p>
    <input type=submit value="Load image">
</form>
<a href ="{{ url_for('create_post.myposts') }}">End to create</a>
{% endblock %}