<!doctype html>
<title>Social Network</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div>
<div class=menu>
<ol>
   <li> <a href="{{ url_for('notifications.mypage') }}"> My&nbsp;page</a> </li>
   <li> <a href="{{ url_for('community.mycommunities') }}"> Communities</a> </li>
   <li> <a href="{{ url_for('create_post.myposts') }}"> My&nbsp;posts</a> </li>
</ol>
</div>

<div class=page>
    <h1>{% print(session.blog) %}</h1>
    <div class=metanav>
        {% if user_auth == 0 %}
        <a href="{{ url_for('authorization.login') }}">log in</a>
        <br>
        <a href="{{ url_for('registration.register') }}">register</a>
        {% else %}
        <a href="{{ url_for('authorization.logout') }}">log out</a>
        <h3> {% print(session.name) %} </h3>
        {% endif %}
    </div>
    {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
</div>
</div>