<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Social Network</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="mycontainer">
    <div class=menu>
        <ol>
            <li><a class='bigg' href="{{ url_for('community.allcommunities') }}"> News</a></li>
            <li><a class='bigg' href="{{ url_for('notifications.mypage') }}"> My&nbsp;page</a></li>
            <li><a class='bigg' href="{{ url_for('create_post.myposts') }}"> My&nbsp;posts</a></li>
            <li><a class='bigg' href="{{ url_for('community.mycommunities') }}"> Communities</a></li>
        </ol>
    </div>
    <div class=mypage>
        <input class="harmless-form" type="text" name="search" placeholder="Search" size="90" id="findtext">
        <button class="like-button" id="cancelsearch"><i class="fa fa-times" aria-hidden="true"></i></button>
        <button class="like-button" type="submit" id="find">Search</button>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('authorization.login') }}">log in</a>
        {% else %}
        <a href="{{ url_for('authorization.logout') }}">log out</a>
        {% endif %}
        {% if iscom == 1 %}
        <br>
        <input class=like-button type="button" value="Check content" id="protect">
        {% if iscom == 1 %}
        <form class="harmless-form" action="{{ url_for('admin.appointadmin') }}" method=post>
            <select name="sort" onchange=this.form.submit()>
                <option selected value="New">New</option>
                <option value="Top">Top</option>
            </select>
        </form>
        {% endif %}
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('registration.register') }}">sign in</a>
        {% else %}
        <a> {{ current_user.username }} </a>
        {% endif %}
        {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
        {% endfor %}
    </div>

    <div class=interface>
        {% if iscom == 1 and (session.admin or moder==True)%}
        <div class="adminandmod">
            <span class=mtext>Moderator&nbsp;interface</span>:
            <ol>
                <li>
                    <button class=like-button onclick="opendialog(this)" name="adduser">Add&nbsp;user</button>
                <li>
                <li>
                    <button class=like-button onclick="opendialog(this)" name="banuser">Ban&nbsp;user</button>
                <li>
                <li>
                    <button class=like-button onclick="opendialog(this)" name="unbanuser">Unban&nbsp;user</button>
                <li>
                <li>
                    <button class=like-button onclick="opendialog(this)" name="deleteuser">Delete&nbsp;user</button>
                <li>
                <li>
                    <button class=like-button onclick="opendialog(this)" name="deletecommunity">Delete&nbsp;community
                    </button>
                <li>
                <li>
                    <button class=like-button onclick="opendialog(this)" name="appointmoderator">
                        Appoint&nbsp;moderator
                    </button>
                <li>
            </ol>
        </div>
        {% endif %}
        {% if session.admin %}
        <div class="adminandmod">
            <span class=mtext>Admin&nbsp;interface:</span>
            <ol>
                <li>
                    <button class=like-button type="submit" id="appoint">Appoint&nbsp;administrator</button>
                </li>
                <li>
                    <button class=like-button type="submit" id="newsletter">Send&nbsp;newsletter</button>
                </li>
            </ol>
        </div>
        {% endif %}
    </div>
    <dialog id='dappoint' background-color=rgba(0, 0, 0, 0.8)>
        <p>Appoint administrator</p>
        <form class="harmless-form" action="{{ url_for('admin.appointadmin') }}" method=post>
            <p>Username:</p>
            <input type=text name=username required>
            <p></p>
            <input class="btn btn-primary" type=submit value=Appoint>
        </form>
        <button class="btn btn-secondary" id="closeapp">Cancel</button>
    </dialog>
    <dialog id='dnewsletter' background-color=rgba(0, 0, 0, 0.8)>
        <p>Send newsletter</p>
        <form class="harmless-form" action="{{ url_for('admin.newsletter') }}" method=post>
            <p>Notification:</p>
            <input type=text name=notification maxlength=300 required>
            <p></p>
            <input class="btn btn-primary" type=submit value=Send>
        </form>
        <button class="btn btn-secondary" id="closenewsletter">Cancel</button>
    </dialog>
    <dialog id='dprotect' background-color=rgba(0, 0, 0, 0.8)>
        <p>Check image</p>
        <form class="harmless-form" action="{{ url_for('checkcontent.checkimage') }}" method=post
              enctype="multipart/form-data">
                <div class="fl_upld">
                    <label><input id="fl_inp" type="file" name="pic" accept=".html" onchange="this.form.submit()">Choose
                        file</label>
                </div>
            <input class="btn btn-primary" type=submit value=Create>
        </form>
        <button class="btn btn-secondary" id="closeprotect">Cancel</button>
    </dialog>
    <div class="content">
        {% block body %}
        {% endblock %}
    </div>
</div>

<script type=text/javascript>

document.querySelector('#find').onclick = function() {
findinf = document.getElementById('findtext').value;
ob = document.getElementById('content');

for(var i=0; i<ob.children.length; i++){
    chtml=ob.children[i].textContent.toLowerCase();
    if(chtml.indexOf(findinf.toLowerCase()) == -1)
    {
        ob.children[i].style.display='none';
    }
}
};

document.querySelector('#cancelsearch').onclick = function() {
ob = document.getElementById('content');
document.getElementById('findtext').value = '';
for(var i=0; i<ob.children.length; i++){
    ob.children[i].style.display='block';
}
};

var dappoint = document.querySelector('#dappoint');
document.querySelector('#appoint').onclick = function() {
  dappoint.showModal();
};
document.querySelector('#closeapp').onclick = function() {
  dappoint.close();
};
var dnewsletter = document.querySelector('#dnewsletter');
document.querySelector('#newsletter').onclick = function() {
  dnewsletter.showModal();
};
document.querySelector('#closenewsletter').onclick = function() {
  dnewsletter.close();
};
var dprotect = document.querySelector('#dprotect');
document.querySelector('#protect').onclick = function() {
  dnewsletter.showModal();
};
document.querySelector('#closeprotect').onclick = function() {
  dnewsletter.close();
};



</script>
</html>