{% extends "layout.html" %}
{% block body %}
<h2>Login</h2>
<form action="" method="post" name="login">
    {{form.hidden_tag()}}
    <p class="form-element">
        Please enter your Login:<br>
        {{form.login(size=40)}}<br>
        {% for error in form.errors.login %}
        <span class="error">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p class="form-element">
        Enter your password:<br>
        {{form.password(size=40)}}<br>
        {% for error in form.errors.password %}
        <span class="error">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p><input class="form-element button" type="submit" value="Sign In">
</form>
{% endblock %}
