{% extends "layout.html" %}
{% block body %}
<p><span class=mtext> Hello {{ current_user.username }}</span>   Your rating - {{ current_user.rating }}</p>
<button class="ghost-button" id="del">Delete profile</button>
<p>This is your notifications:</p>
<input align="right" type="button" value="Send Notification" id="show">
<br>
<div id="content">
    {% if notifications != None %}
    {% for n in notifications %}
    <div>
        <p><span class=mtext>{{ n['username'] }}</span> &nbsp&nbsp {{ n['creation_date'] }}</p>
        <form action="{{ url_for('notifications.deleteNotification') }}" method="post">
            {{ n['text'] | safe }}
            <input type="hidden" name="username" value="{{ n['username'] }}"/>
            <input type="hidden" name="creation_date" value="{{ n['creation_date'] }}"/>
            <input type="hidden" name="text" value="{{ n['text'] }}"/>
            <button class=ghost-button type="submit">X</button>
        </form>
    </div>
    {% endfor %}
    {% endif %}
</div>
<dialog id='dialog' background-color=rgba(0, 0, 0, 0.8)>
    <p>Enter notification for user</p>
    <form class="harmless-form" action="{{ url_for('notifications.createNotification') }}" method=post>
        <p>Username:</p>
        <input type=text name=username required>
        <p>Notification:</p>
        <input type=text name=notification maxlength=300 required>
        <br>
        <input type=submit value=Send>
    </form>
    <button id="close">Cancel</button>
</dialog>
<dialog id='delete' background-color=rgba(0, 0, 0, 0.8)>
    <p>Are you sure want to delete profile?</p>
    <form class="harmless-form" action="{{ url_for ('userService.deleteprofile') }}" method=get>
        <input type=submit value=Yes>
    </form>
    <button id=delclose>No</button>
</dialog>
<script type=text/javascript>
var dialog = document.querySelector('#dialog');
document.querySelector('#show').onclick = function() {
  dialog.showModal();;
};
document.querySelector('#close').onclick = function() {
  dialog.close();
};
var dialogd = document.querySelector('#delete');
document.querySelector('#del').onclick = function() {
  dialogd.showModal();;
};
document.querySelector('#delclose').onclick = function() {
  dialogd.close();
};


</script>


{% endblock %}